* {
  margin: 0;
  padding: 0;
 }
 
 :root {
     --main-bg-color: #001c40;
 }
 .main-color {
     background-color: var(--main-bg-color) !important;
 }
 .body-wrap {
     width: 100%;
     height: auto;
 }
 .navigation-bar {
     width: 100%;
     height: 10%;
 }
 .hero-section {
     height: 37vh;
     overflow: hidden;
 }
 .hero-section > .carousel-inner {
     height: 100%;
 }
 .kal {
     height: 590px !important;
     overflow: hidden !important;
 }
 .product-action {
     width: 5rem;
 }
 .card-wrap {
     align-items: center;
 }
 .card-txt, .card-wrap {
     width: 100%;
 }
 .items {
     margin: 0 !important;
 }
 .search {
     width: 70%;
 }
 .caption-text1 {
     width: 30rem !important;
     position: absolute !important;
     color: #000 !important;
     left: 2rem !important;
     top: 13rem !important;
 }
 .caption-text2 {
     width: 30rem !important;
     position: absolute !important;
     color: #fff !important;
     right: 0 !important;
     top: 13rem !important;
 }
 .out {
     border: 1px solid black;
     border-radius: 20px;
     padding: 10px;
 }
 .size-img {
     width: 80% !important;
 }
 .next-line {
     margin-top: 3rem;
 }
 .footer-14398 {
     padding: 7rem 0 1rem;
     background: #000;
     color: #777; }
 .footer-14398 .line {
     border-top: 1px solid rgba(255, 255, 255, 0.2)
 }
 .footer-14398 .footer-site-logo {
     color: #fff;
     font-size: 26px;
     font-weight: bold;
     margin-bottom: 30px;
     display: block; }
   .footer-14398 h3 {
     color: #fff;
     font-size: 16px;
     margin-bottom: 20px; }
   .footer-14398 .links li {
     margin-bottom: 10px; }
     .footer-14398 .links li a {
       color: #999; }
       .footer-14398 .links li a:hover {
         color: #fff; }
 .policies {
     flex-wrap: wrap;
     margin-right: 1rem;
 }
   .footer-14398 .link-menu li {
     display: inline-block; }
     .footer-14398 .link-menu li a {
       color: #fff;
       display: inline-block;
       padding: 10px; }
   .footer-14398 .link-menu.nav-left li:first-child a {
     padding-left: 0; }
   .footer-14398 .link-menu.nav-right li:last-child a {
     padding-left: 0; }
   .footer-14398 .social li {
     display: inline-block; }
     .footer-14398 .social li a {
       display: inline-block;
       padding: 10px;
       color: #ccc; }
     .footer-14398 .social li:last-child a {
       padding-right: 0; }
   .footer-14398 .line {
     border-top: 1px solid rgba(255, 255, 255, 0.2); }
     .media-links {
         justify-content: flex-end;
     }
 .apparel {
     color: #fff !important;
 }
 .product-offer {
     position: relative;
     overflow: hidden;
   }
   .product-offer img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: .5s;
   }
   .product-offer:hover img {
     transform: scale(1.2) rotate(5deg);
   }
   .product-offer .offer-text {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: rgba(61, 70, 77, 0.5);
     z-index: 1;
   }
   .footer-14398 {
     margin-top: 0;
   }
   /* Product Details Page */
   .btn-custom {
     background-color: var(--main-bg-color) !important;
     color: #fff !important;
   }
   .star {
     color: var(--main-bg-color) !important;
   }
   .custom-radio input{
     accent-color: var(--main-bg-color) !important;
   }
   .product-details {
     padding: 3rem 0 0 3rem;
     margin-bottom: 2rem;
   }
 /* Registration Page */
 .register-image {
   padding: 0 !important;
 }
 /* Cart Page */
 .cart-wrap {
   color: #000 !important;
 }
 .product-item-wrap {
   border: 1px solid red;
 }
 .product-item {
  /* border-top: 1px solid rgb(133, 133, 133); */
 }
 .product-color, .product-size, .product-availability {
   font-size: small !important;
 }
 .cart-line {
  border: 1px solid brown;
 }
 .qty {
   outline: none;
   border: 1px solid #999;
   border-radius: 5px;
   background-color: #e9e9e9; 
   font-size: 5px; 
 }
 .checkout-wrap {
  border: 1px solid blue;
  padding: .5rem;
 }
 .checkout-wrap h4 {
  font-size: 1.2rem;
 }
 .checkout {
  width: 80%;
 }
 .main-description {
  width: 70%;
 }
 .card-brand img{
  width: 3rem;
  margin: 1px .5rem .5rem 0
 }
 
 @media screen and (min-width: 950px) {
     .m-left {
         margin-left: 20rem !important;
         width: 90%;
         justify-content: space-around;
     }
     .merchant-item {
         max-width: 40.6% !important;
         width: 20% !important;
     }
     .hero-section {
         height: 90vh;
     }
     .hero-section {
         width: 100%;
         height: auto;
     }
     .checkout-wrap h4 {
      font-size: 1.5rem !important;
     }
     .checkout {
      width: 60% !important;
     }
 
   
   }
 
   @media screen and (min-width: 550px) {
     .vimage {
       height: 100% !important;
       width: 100%;
     }
     .register-form form{
       margin-bottom: 3rem;
     }
     .checkout-wrap p {
      text-align: center;
     }
     .checkout {
      font-size: x-small;
      width: 80%;
     }
     .product-item {
      align-items: center;
     }
     .cloth-item {
      width: 8rem;
      height: 11rem;
     }
   }
 
   @media screen and (max-width: 500px) {
     .hero-section {
         height: 24vh;
     }
     /* .hero-section > .carousel-inner {
         height: 100%;
     } */
     .next-line {
         margin-top: 0;
     }
     .media-links {
         justify-content: flex-start;
     }
     .product-details {
         padding: 3rem 0 0 0;
       }
     .register-image {
         display: none;
       }
     .form-wrap {
       margin-bottom: 3rem !important;
     }
     .product-offer-wrap {
       flex-direction: column !important;
     }
    
   }